<p><strong>Useful Note</strong>: Images are <code>img</code> elements not backgrounds, sized with object fit so they can take advantage of srcset if possible. Add an inline style [x/y] of <code>object-position</code> to set the focal point for the image, eg. <code>style="object-position: 70% 20%"</code> for an image with a focal point towards the top right.</p>

<hr/>

<div class="zebra">
  <div class="zebra__row">
    <figure class="zebra__figure">
      <img src="https://picsum.photos/600/400?random=1" style="object-position: 50% 50%" />
    </figure>


    <div class="zebra__body">
      <header class="title  zebra__title">
        <h2 class="h4  title__highlight">Welcome Talks</h2>
      </header>

      <p>Once you’ve registered on the day, make your way to one of our welcome talks that run from 9.30am until 1pm. Here you’ll find out everything you need to know about our institution, the surrounding area, and why all our students and staff are <a href="">#ProudToBeStaffs</a>.</p>
    </div>
  </div>

  <div class="zebra__row">
    <figure class="zebra__figure">
      <img src="https://picsum.photos/600/400?random=2" style="object-position: 50% 50%" />
    </figure>


    <div class="zebra__body">
      <header class="title  zebra__title">
        <h2 class="h4  title__highlight">A title that's very long that will probably-need to wrap to two lines</h2>
      </header>

      <p>{{ placeholderPara1 }} {{ placeholderPara2 }}</p>
      <p>{{ placeholderPara3 }}</p>
    </div>
  </div>

  <div class="zebra__row">
    <figure class="zebra__figure">
      <img src="https://picsum.photos/600/400?random=3" style="object-position: 50% 50%" />
    </figure>


    <div class="zebra__body">
      <header class="title  zebra__title">
        <h2 class="h4  title__highlight">{{ placeholderHeadline2 }}</h2>
      </header>

      <p>{{ loremLong }}</p>
    </div>
  </div>
</div>