<div class="wrap  margin-top-xl margin-bottom-xl">
  <div class="title  title--has-tail  js-waypoint">
    <h1 class="h1  title__highlight">In-page sticky waypoint navigation</h1>
  </div>
</div>

<nav class="page-nav  js-page-nav" id="js-page-nav">
  <div class="page-nav__stickyContainer">
    <div class="wrap">
      <div class="page-nav__inner">
        <ul class="page-nav__list">
          <li class="page-nav__item"><a class="page-nav__link  is-active" href="#overview">Overview</a></li>
          <li class="page-nav__item"><a class="page-nav__link" href="#courses">Courses</a></li>
          <li class="page-nav__item"><a class="page-nav__link" href="#facilities">Facilities</a></li>
          <li class="page-nav__item"><a class="page-nav__link" href="#work-experience-and-careers">Work experience and careers</a></li>
          <li class="page-nav__item"><a class="page-nav__link" href="#our-students">Our students</a></li>
          <li class="page-nav__item"><a class="page-nav__link" href="#our-staff">Our staff</a></li>
          <li class="page-nav__item"><a class="page-nav__link" href="#our-graduates">Our Graduates</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<section class="margin-bottom-6xl  js-waypoint-page-section" id="overview">
  <header class="section-header  section-header--bg-offwhite  section-header--border-top">
    <div class="wrap">
      <div class="section-header__title  title  title--has-tail  js-waypoint">
        <h2 class="h2  title__highlight">Overview</h2>
      </div>
    </div>
  </header>

  <div class="wrap">
    <p class="intro"><strong>These sections must have a class of <code>js-waypoint-page-section</code>, and the <code>id</code> of their corresponding link's <code>href</code></strong></p>
    <p class="intro">When each waypoint is reached, the nav updates to current page section.</p>

    <p>{{ lorem }} {{ lorem }}</p>
    <p>{{ lorem }} {{ lorem }}</p>
  </div>
</section>

<section class="margin-bottom-6xl  js-waypoint-page-section" id="courses">
  <header class="section-header  section-header--bg-offwhite  section-header--border-top">
    <div class="wrap">
      <div class="section-header__title  title  title--has-tail  js-waypoint">
        <h2 class="h2  title__highlight">Courses</h2>
      </div>
    </div>
  </header>

  <div class="wrap">
    <p class="intro"><strong>These sections must have a class of <code>js-waypoint-page-section</code>, and the <code>id</code> of their corresponding link's <code>href</code></strong></p>
    <p class="intro">When each waypoint is reached, the nav updates to current page section.</p>

    <p>{{ lorem }} {{ lorem }}</p>
    <p>{{ lorem }} {{ lorem }}</p>
  </div>
</section>

<section class="margin-bottom-6xl  js-waypoint-page-section" id="facilities">
  <header class="section-header  section-header--bg-offwhite  section-header--border-top">
    <div class="wrap">
      <div class="section-header__title  title  title--has-tail  js-waypoint">
        <h2 class="h2  title__highlight">Facilities</h2>
      </div>
    </div>
  </header>

  <div class="wrap">
    <p class="intro"><strong>These sections must have a class of <code>js-waypoint-page-section</code>, and the <code>id</code> of their corresponding link's <code>href</code></strong></p>
    <p class="intro">When each waypoint is reached, the nav updates to current page section.</p>
  </div>
</section>

<section class="margin-bottom-6xl  js-waypoint-page-section" id="work-experience-and-careers">
  <header class="section-header  section-header--bg-offwhite  section-header--border-top">
    <div class="wrap">
      <div class="section-header__title  title  title--has-tail  js-waypoint">
        <h2 class="h2  title__highlight">Work experience and careers</h2>
      </div>
    </div>
  </header>

  <div class="wrap">
    <p class="intro"><strong>These sections must have a class of <code>js-waypoint-page-section</code>, and the <code>id</code> of their corresponding link's <code>href</code></strong></p>
    <p class="intro">When each waypoint is reached, the nav updates to current page section.</p>

    <p>{{ lorem }} {{ lorem }}</p>
    <p>{{ lorem }} {{ lorem }}</p>

    <p>{{ lorem }} {{ lorem }}</p>
    <p>{{ lorem }} {{ lorem }}</p>
  </div>
</section>

<section class="margin-bottom-6xl  js-waypoint-page-section" id="our-students">
  <header class="section-header  section-header--bg-offwhite  section-header--border-top">
    <div class="wrap">
      <div class="section-header__title  title  title--has-tail  js-waypoint">
        <h2 class="h2  title__highlight">Our students</h2>
      </div>
    </div>
  </header>

  <div class="wrap">
    <p class="intro"><strong>These sections must have a class of <code>js-waypoint-page-section</code>, and the <code>id</code> of their corresponding link's <code>href</code></strong></p>
    <p class="intro">When each waypoint is reached, the nav updates to current page section.</p>

    <p>{{ lorem }} {{ lorem }}</p>
    <p>{{ lorem }} {{ lorem }}</p>
  </div>
</section>

<section class="margin-bottom-6xl  js-waypoint-page-section" id="our-staff">
  <header class="section-header  section-header--bg-offwhite  section-header--border-top">
    <div class="wrap">
      <div class="section-header__title  title  title--has-tail  js-waypoint">
        <h2 class="h2  title__highlight">Our Staff</h2>
      </div>
    </div>
  </header>

  <div class="wrap">
    <p class="intro"><strong>These sections must have a class of <code>js-waypoint-page-section</code>, and the <code>id</code> of their corresponding link's <code>href</code></strong></p>
    <p class="intro">When each waypoint is reached, the nav updates to current page section.</p>

    <p>{{ lorem }} {{ lorem }}</p>
    <p>{{ lorem }} {{ lorem }}</p>

    <p>{{ lorem }} {{ lorem }}</p>
    <p>{{ lorem }} {{ lorem }}</p>

    <p>{{ lorem }} {{ lorem }}</p>
    <p>{{ lorem }} {{ lorem }}</p>
  </div>
</section>

<section class="margin-bottom-6xl  js-waypoint-page-section" id="our-graduates">
  <header class="section-header  section-header--bg-offwhite  section-header--border-top">
    <div class="wrap">
      <div class="section-header__title  title  title--has-tail  js-waypoint">
        <h2 class="h2  title__highlight">Our graduates</h2>
      </div>
    </div>
  </header>

  <div class="wrap">
    <p class="intro"><strong>These sections must have a class of <code>js-waypoint-page-section</code>, and the <code>id</code> of their corresponding link's <code>href</code></strong></p>
    <p class="intro">When each waypoint is reached, the nav updates to current page section.</p>

    <p>{{ lorem }} {{ lorem }}</p>
    <p>{{ lorem }} {{ lorem }}</p>
  </div>
</section>

{% include '@page-footer' %}