<p>Add a class of <code>card--flex-overlap</code> to have a card's figure and content size themselves intrinsically with flexbox, <strong>when using a highlighted title</strong> style. The title is overlapped on the figure (when the figure sits above). This is particularly useful for cards in single columns (like search results), and grids of 3, which look awkwardly large otherwise at a tablet-ish width, when they fall to a single column.</p>

<hr/>

<div class="card  card--flex-overlap  card--maroon">
  <figure class="card__figure">
    <img src="https://picsum.photos/720/360?random=1" alt=""/>
  </figure>

  <div class="card__content">
    <div class="title">
      <h3 class="h4  title__highlight"><a href="" class="">{{ placeholderHeadline }}</a></h3>
    </div>
    <p>{{ placeholderPara2 }}</p>
  </div>
</div>

<div class="card  card--flex-overlap  card--pink">
  <figure class="card__figure">
    <img src="https://picsum.photos/720/360?random=2" alt=""/>
  </figure>

  <div class="card__content">
    <a href="" class="link--stretched">
      <div class="title">
        <h3 class="h4  title__highlight">{{ placeholderHeadline2 }}</h3>
      </div>
    </a>
    <p>{{ placeholderPara3 }}</p>
  </div>
</div>

<div class="card  card--flex-overlap  card--red">

  <div class="card__content">
    <a href="" class="link--stretched">
      <div class="title">
        <h3 class="h4  title__highlight">{{ placeholderHeadline2 }}</h3>
      </div>
    </a>
    <p>Example without a figure image</p>
    <p>{{ placeholderPara1 }}</p>
  </div>
</div>

<hr/>


<div class="grid  grid-2-cols  grid-4-cols@desktop">

  <div>
    <div class="card  card--flex-overlap  card--maroon">
      <figure class="card__figure  card__figure--video">
        <img src="https://picsum.photos/480/240?random=3" alt=""/>
      </figure>

      <div class="card__content">
        <a href="#" class="link--stretched">
          <div class="title">
            <h3 class="h5  title__highlight">Research into poverty in Stoke-on-Trent gets new funding boost</h3>
          </div>
        </a>
        <p><span class="tag">video</span></p>
        <p>Adding a class of <code>card__figure--video</code> to a figure will give it a play icon overlay.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--flex-overlap  card--slate">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/240?random=4" alt=""/>
      </figure>

      <div class="card__content">
        <a href="#" class="link--stretched">
          <div class="title">
            <h3 class="h5  title__highlight">Graduates give Staffs Uni star role in popular app</h3>
          </div>
        </a>
        <p><span class="tag">blog</span></p>
        <p>
          <time class="strong">11 February 2024</time>
        </p>
        <p>University's pioneering work with community researchers will help inform new model of community research.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--flex-overlap  card--red">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/240?random=5" alt=""/>
      </figure>

      <div class="card__content">
        <a href="#" class="link--stretched">
          <div class="title">
            <h3 class="h5  title__highlight">“It's Beautiful to be Old” Professor tells Vatican</h3>
          </div>
        </a>
        <p><span class="tag">blog</span></p>
        <p>
          <time class="strong">10 August 2024</time>
        </p>
        <p>University's pioneering work with community researchers will help inform new model of community research.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--flex-overlap  card--pink">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/240?random=6" alt=""/>
      </figure>

      <div class="card__content">
        <a href="#" class="link--stretched">
          <div class="title">
            <h3 class="h5  title__highlight">Research into poverty in Stoke-on-Trent gets new funding boost</h3>
          </div>
        </a>
        <p><span class="tag">blog</span></p>
        <p>
          <time class="strong">9 April 2024</time>
        </p>
        <p>University's pioneering work with community researchers will help inform new model of community research.</p>
      </div>
    </div>
  </div>
</div>

<hr/>

<div class="grid  grid-3-cols">

  <div>
    <div class="card  card--flex-overlap  card--red">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/480?random=7" alt=""/>
      </figure>

      <div class="card__content">
        <a href="#" class="link--stretched">
          <div class="title">
            <h3 class="h5  title__highlight">Accommodation</h3>
          </div>
        </a>
        <p>Where you live is a big part of your student experience and where you’ll make friends for life.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--flex-overlap  card--maroon">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/480?random=8" alt=""/>
      </figure>

      <div class="card__content">
        <a href="#" class="link--stretched">
          <div class="title">
            <h3 class="h5  title__highlight">Staffordshire Campus</h3>
          </div>
        </a>
        <p>There’ll be times when you need some support - and we’re here for you. There are many student support services - from welfare to money matters.</p>
      </div>
    </div>
  </div>

  <div>
    <a class="card  card--flex-overlap  card--red" href="">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/240?random=9" alt=""/>
      </figure>

      <div class="card__content">
        <div class="title">
          <h3 class="h5  title__highlight">Stoke-on-Trent Open Day Programme</h3>
        </div>
        <p><span class="tag">publication</span></p>
        <p>Download our open day PDF (2.8Mb)</p>
        <b class="button">Download</b>
      </div>
    </a>
  </div>
</div>
