<div class="grid  grid-4-cols@tablet-wide">
  <div>

    <div class="card  card--flex  card--maroon">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/240?random=1" alt=""/>
      </figure>

      <div class="card__content">
        <h3 class="card__title  h5">
          <a href="#" class="link--stretched">{{ placeholderHeadline }}</a>
        </h3>
        <p>
          <time class="strong">23 October 2024</time>
        </p>
        <p>{{ placeholderPara1 }}</p>
      </div>
    </div>

  </div>
  <div>

    <div class="card  card--flex  card--red">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/240?random=2" alt=""/>
      </figure>

      <div class="card__content">
        <h3 class="card__title  h5">
          <a href="#" class="link--stretched">{{ placeholderHeadline2 }}</a>
        </h3>
        <p>
          <time class="strong">20 October 2024</time>
        </p>
        <p>{{ placeholderPara2 }}</p>
      </div>
    </div>

  </div>
  <div>

    <div class="card  card--flex  card--slate">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/240?random=2" alt=""/>
      </figure>

      <div class="card__content">
        <h3 class="card__title  h5">
          <a href="#" class="link--stretched">{{ placeholderHeadline3 }}</a>
        </h3>
        <p>
          <time class="strong">19 October 2024</time>
        </p>
        <p>{{ placeholderPara3 }}</p>
      </div>
    </div>

  </div>
  <div>

    <div class="card  card--flex  card--maroon">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/240?random=3" alt=""/>
      </figure>

      <div class="card__content">
        <h3 class="card__title  h5">
          <a href="#" class="link--stretched">{{ placeholderHeadline4 }}</a>
        </h3>
        <p>
          <time class="strong">17 October 2024</time>
        </p>
        <p>{{ placeholderPara4 }}</p>
      </div>
    </div>

  </div>

</div>