<div class="slab  slab--bg-knot-grey  align-full">
  <div class="wrap">
    <h2 class="h3 slab__title">{{ text }}</h2>
    <p class="intro">Some intro text might go here, might not.</p>

    <p>{{ loremLong }}</p>
  </div>
</div>

<div class="slab  slab--bg-knot-neon  align-full">
  <div class="wrap">
    <h2 class="h3 slab__title">{{ text }}</h2>
    <p class="intro">Some intro text might go here, might not.</p>

    <p>{{ loremLong }}</p>
  </div>
</div>

<div class="slab  slab--bg-knot-blue  align-full">
  <div class="wrap">
    <h2 class="h3 slab__title">{{ text }}</h2>
    <p class="intro">Some intro text might go here, might not.</p>

    <p>{{ loremLong }}</p>
  </div>
</div>

<div class="slab  slab--bg-knot-peach  align-full">
  <div class="wrap">
    <h2 class="h3 slab__title">{{ text }}</h2>
    <p class="intro">Some intro text might go here, might not.</p>

    <p>{{ loremLong }}</p>
  </div>
</div>

<div class="slab  slab--bg-knot-yellow  align-full">
  <div class="wrap">
    <h2 class="h3 slab__title">{{ text }}</h2>
    <p class="intro">Some intro text might go here, might not.</p>

    <p>{{ loremLong }}</p>
  </div>
</div>