<div class="slab  slab--bg-box-knot  burgundy-on-lavender  align-full">
  <div class="wrap">
    <div class="slab__content">
      <h2 class="h3 slab__title">{{ text }}</h2>
      <p>{{ loremLong }}</p>
    </div>
  </div>
</div>

<br />

<div class="slab  slab--bg-box-knot  dark-blue-on-pale-blue  align-full">
  <div class="wrap">
    <div class="slab__content">
      <h2 class="h3 slab__title">{{ text }}</h2>
      <p>{{ loremLong }}</p>
    </div>
  </div>
</div>

<br />

<div class="slab  slab--bg-box-knot  neon-on-dark-blue  align-full">
  <div class="wrap">
    <div class="slab__content">
      <h2 class="h3 slab__title">{{ text }}</h2>
      <p>{{ loremLong }}</p>
    </div>
  </div>
</div>

<br />

<div class="slab  slab--bg-box-knot  lavender-on-dark-blue  align-full">
  <div class="wrap">
    <div class="slab__content">
      <h2 class="h3 slab__title">{{ text }}</h2>
      <p>{{ loremLong }}</p>
    </div>
  </div>
</div>