
<section class="margin-bottom-6xl">
  <header class="section-header  section-header--bg-offwhite  section-header--border-top  align-full">
    <div class="wrap">
      <div class="section-header__title  title  title--has-tail  js-waypoint">
        <h1 class="h2  title__highlight">These titles inside each section-header have waypoints</h1>
      </div>
    </div>
  </header>

  <p class="intro">When each waypoint is reached, the tail animates, being drawn into the viewport from the top left.</p>

  <p>{{ lorem }} {{ lorem }}</p>
  <p>{{ lorem }} {{ lorem }}</p>
</section>

<section class="margin-bottom-6xl">
  <header class="section-header  section-header--bg-offwhite  section-header--border-top  align-full">
    <div class="wrap">
      <div class="section-header__title  title  title--has-tail  js-waypoint">
        <h1 class="h2  title__highlight">These titles inside each section-header have waypoints</h1>
      </div>
    </div>
  </header>

  <p class="intro">When each waypoint is reached, the tail animates, being drawn into the viewport from the top left.</p>

  <p>{{ lorem }} {{ lorem }}</p>
  <p>{{ lorem }} {{ lorem }}</p>
</section>

<section class="margin-bottom-6xl">
  <header class="section-header  section-header--bg-offwhite  section-header--border-top  align-full">
    <div class="wrap">
      <div class="section-header__title  title  title--has-tail  js-waypoint">
        <h1 class="h2  title__highlight">These titles inside each section-header have waypoints</h1>
      </div>
    </div>
  </header>

  <p class="intro">When each waypoint is reached, the tail animates, being drawn into the viewport from the top left.</p>

  <p>{{ lorem }} {{ lorem }}</p>
  <p>{{ lorem }} {{ lorem }}</p>
</section>

<section class="margin-bottom-6xl">
  <header class="section-header  section-header--bg-offwhite  section-header--border-top  align-full">
    <div class="wrap">
      <div class="section-header__title  title  title--has-tail  js-waypoint">
        <h1 class="h2  title__highlight">These titles inside each section-header have waypoints</h1>
      </div>
    </div>
  </header>

  <p class="intro">When each waypoint is reached, the tail animates, being drawn into the viewport from the top left.</p>

  <p>{{ lorem }} {{ lorem }}</p>
  <p>{{ lorem }} {{ lorem }}</p>
</section>