<footer class="footer-site">
  <div class="wrap">
    <a class="footer-site__logo" title="Home" href="/">
      <img src="{{ '/img/theme-ldn/logo-ldn.svg' | path }}" alt="Digital Institute London Logo" class="no-lazy-load">
    </a>

    <div class="footer-site__main">

      <div class="grid  grid--spaced">
        <div class="col-3/5  col-reverse">
          <div class="grid  grid--spaced  grid-2-cols">
            <div>
              <h6>Courses</h6>
              <ul class="list--unstyled  list--links">
                <li><a href="">Computer Science</a></li>
                <li><a href="">Concept Art for Games and Film</a></li>
                <li><a href="">Computer Games Design</a></li>
                <li><a href="">Esports</a></li>
                <li><a href="">Games PR, and Community Management</a></li>
                <li><a href="">Cyber Security</a></li>
              </ul>
            </div>

{#            <div>#}
{#              <h6>Information for</h6>#}
{#              <ul class="list--unstyled  list--links">#}
{#                <li><a href="">Current students</a></li>#}
{#                <li><a href="">Current staff</a></li>#}
{#                <li><a href="">Schools and colleges</a></li>#}
{#                <li><a href="">Alumni</a></li>#}
{#              </ul>#}
{#            </div>#}

{#            <div>#}
{#              <h6>Also see</h6>#}
{#              <ul class="list--unstyled  list--links">#}
{#                <li><a href="">News</a></li>#}
{#                <li><a href="">Events</a></li>#}
{#                <li><a href="">Legal</a></li>#}
{#              </ul>#}
{#            </div>#}

            <div>
              <h6>Connect with us</h6>
              <ul class="list--inline  footer-site__social-list">
                <li><a href=""><i class="icon"><img src="{{ '/img/icon-facebook-white.svg' | path }}" alt="Facebook"/></i></a></li>
                <li><a href=""><i class="icon"><img src="{{ '/img/icon-twitter-white.svg' | path }}" alt="Twitter"/></i></a></li>
                {#            <li><a href=""><i class="icon"><img src="{{ '/img/icon-youtube-white.svg' | path }}" alt="YouTube"/></i></a></li>#}
                {#            <li><a href=""><i class="icon"><img src="{{ '/img/icon-pinterest-white.svg' | path }}" alt="Pinterest"/></i></a></li>#}
                {#            <li><a href=""><i class="icon"><img src="{{ '/img/icon-linkedin-white.svg' | path }}" alt="LinkedIn"/></i></a></li>#}
                <li><a href=""><i class="icon"><img src="{{ '/img/icon-instagram-white.svg' | path }}" alt="Instagram"/></i></a></li>
                {#            <li><a href=""><i class="icon"><img src="{{ '/img/icon-snapchat-white.svg' | path }}" alt="Snapchat"/></i></a></li>#}
              </ul>
            </div>
          </div>

        </div>

        <div class="col-2/5">
          <h6><strong>Staffordshire University London</strong></h6>

          <p>
            Here East<br/>
            Queen Elizabeth Olympic Park<br/>
            East London<br/>
            E20 3BS<br/>
          </p>

          <p>+44 (0)1782 294000</p>
          <p><a href="">Contact us</a></p>
          <p>&copy; Staffordshire University London 2024</p>

        </div>
      </div>
    </div>


  </div>
</footer>





