<h1>Accommodation</h1>
<p>{{ loremShort }}</p>

<h2>Stoke-on-Trent campus</h2>

<h3>Leek Road Halls</h3>
<p>{{ lorem }}</p>

<h4>Minton</h4>
<p>{{ lorem }}</p>

<h4>Coalport Premier</h4>
<p>{{ lorem }}</p>

<h5>Refurbishment</h5>

<h6>2024/25</h6>
<p>{{ loremShort }}

<h6>2025 onwards</h6>
<p>{{ loremShort }}

<h3>Clarice Cliff Court</h3>
<p>{{ lorem }}</p>

<h2>Stafford campus</h2>
<p>{{ loremLong }}</p>