<div class="quote-banner  quote-banner--bg-digital-blue  align-full">
  <div class="wrap">

    <div class="quote-banner__flexContainer">

      <div class="quote-banner__quoteContainer">
        <div class="card  card--testimonial  card--pink">
          <div class="card__content">
            <blockquote class="blockquote--large">
              <q class="blockquote__title">{{ quoteText }}</q>

              <footer class="blockquote__footer">
                <cite class="cite">{{ quoteSource }}</cite>
                <p>{{ quoteQualification }}</p>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>

      <figure class="quote-banner__figure">
        <img src="{{ '/img/placeholder-transparent-person.png' | path }}" alt="" />
      </figure>
    </div>

  </div>
</div>

<div class="quote-banner  quote-banner--bg-dark-blue  align-full  margin-top-4xl">
  <div class="wrap">

    <div class="quote-banner__flexContainer">

      <div class="quote-banner__quoteContainer">
        <div class="card  card--testimonial  card--pink">
          <div class="card__content">
            <blockquote class="blockquote--large">
              <q class="blockquote__title">{{ quoteText }}</q>

              <footer class="blockquote__footer">
                <cite class="cite">{{ quoteSource }}</cite>
                <p>{{ quoteQualification }}</p>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>

      <figure class="quote-banner__figure">
        <img src="{{ '/img/placeholder-transparent-person.png' | path }}" alt="" />
      </figure>
    </div>

  </div>
</div>

<div class="quote-banner  quote-banner--bg-teal  align-full  margin-top-4xl">
  <div class="wrap">

    <div class="quote-banner__flexContainer">

      <div class="quote-banner__quoteContainer">
        <div class="card  card--testimonial  card--pink">
          <div class="card__content">
            <blockquote class="blockquote--large">
              <q class="blockquote__title">{{ quoteText }}</q>

              <footer class="blockquote__footer">
                <cite class="cite">{{ quoteSource }}</cite>
                <p>{{ quoteQualification }}</p>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>

      <figure class="quote-banner__figure">
        <img src="{{ '/img/placeholder-transparent-person.png' | path }}" alt="" />
      </figure>
    </div>

  </div>
</div>