<div class="slider--event-cards  js-slider--event-cards">
  <div>
    <div class="card  card--event">
      <figure class="card__figure">
        <img src="https://picsum.photos/720/360?random=1" alt=""/>
      </figure>

      <div class="card__date">
        <span class="card__day">28</span>
        <span class="card__month">September</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight"><a href="" class="link--stretched">{{ placeholderHeadline2 }}</a></h2>
        </div>
        <p>{{ placeholderPara1 }}</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--event  card--pink">
      <figure class="card__figure">
        <img src="https://picsum.photos/720/360?random=2" alt=""/>
      </figure>

      <div class="card__date">
        <span class="card__day">23</span>
        <span class="card__month">September</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight"><a href="" class="link--stretched">{{ placeholderHeadline2 }}</a></h2>
        </div>
        <p>{{ placeholderPara1 }}</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--event  card--red">
      <figure class="card__figure">
        <img src="https://picsum.photos/720/360?random=3" alt=""/>
      </figure>

      <div class="card__date">
        <span class="card__day">30</span>
        <span class="card__month">September</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight"><a href="" class="link--stretched">{{ placeholderHeadline2 }}</a></h2>
        </div>
        <p>{{ placeholderPara1 }}</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--event  card--red">
      <div class="card__date">
        <span class="card__day">30</span>
        <span class="card__month">September</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight"><a href="" class="link--stretched">{{ placeholderHeadline2 }}</a></h2>
        </div>
        <p>{{ placeholderPara1 }}</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--event">
      <figure class="card__figure">
        <img src="https://picsum.photos/720/360?random=4" alt=""/>
      </figure>

      <div class="card__date">
        <span class="card__day">2</span>
        <span class="card__month">May</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight"><a href="" class="link--stretched">{{ placeholderHeadline2 }}</a></h2>
        </div>
        <p>{{ placeholderPara1 }}</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--event  card--maroon">
      <figure class="card__figure">
        <img src="https://picsum.photos/720/360?random5" alt=""/>
      </figure>

      <div class="card__date">
        <span class="card__day">9</span>
        <span class="card__month">October</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight"><a href="" class="link--stretched">{{ placeholderHeadline2 }}</a></h2>
        </div>
        <p>{{ placeholderPara1 }}</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--event  card--pink">
      <figure class="card__figure">
        <img src="https://picsum.photos/720/360?random=6" alt=""/>
      </figure>

      <div class="card__date">
        <span class="card__day">1</span>
        <span class="card__month">October</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight"><a href="" class="link--stretched">{{ placeholderHeadline2 }}</a></h2>
        </div>
        <p>{{ placeholderPara1 }}</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--event  card--red">
      <div class="card__date">
        <span class="card__day">17</span>
        <span class="card__month">April</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight"><a href="" class="link--stretched">{{ placeholderHeadline2 }}</a></h2>
        </div>
        <p>{{ placeholderPara1 }}</p>
      </div>
    </div>
  </div>
</div>